* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roundedltblack;
  src: url("../public/fonts/HelveticaRoundedLT-Black.otf");
}
@font-face {
  font-family: Bolditalic;
  src: url("../public/fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: Italic;
  src: url("../public/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: Regular;
  src: url("../public/fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: Light;
  src: url("../public/fonts/MONTSERRAT-LIGHT.OTF");
}
