* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html {
  position: relative;
  overflow-x: hidden;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  @media (max-width: 75rem) {
    font-size: 56.25%;
  }
  @media (max-width: 59rem) {
    font-size: 56.25%;
  }
  @media (max-width: 27rem) {
    font-size: 33%;
  }
  @media (max-width: 25rem) {
    font-size: 30%;
  }
}

@font-face {
  font-family: Roundedltblack;
  src: url("../public/fonts/HelveticaRoundedLT-Black.otf");
}
@font-face {
  font-family: Bolditalic;
  src: url("../public/fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: Italic;
  src: url("../public/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: Regular;
  src: url("../public/fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: Light;
  src: url("../public/fonts/MONTSERRAT-LIGHT.OTF");
}

@mixin laptop {
  @media (max-width: 87rem) {
    @content;
  }
}
@mixin laptop-s {
  @media (max-width: 75rem) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: 64rem) and (orientation: portrait) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 59rem) {
    @content;
  }
}
@mixin tablet-s {
  @media (max-width: 48rem) {
    @content;
  }
}
@mixin iphone {
  @media (max-width: 31rem) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 27rem) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: 25rem) {
    @content;
  }
}
