* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html {
  position: relative;
  overflow-x: hidden;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  @media (max-width: 75rem) {
    font-size: 56.25%;
  }
  @media (max-width: 59rem) {
    font-size: 56.25%;
  }
  @media (max-width: 48rem) {
    font-size: 50%;
  }
  @media (max-width: 38rem) {
    font-size: 40%;
  }
  @media (max-width: 27rem) {
    font-size: 33%;
  }
  @media (max-width: 25rem) {
    font-size: 30%;
  }
}

@font-face {
  font-family: Roundedltblack;
  src: url("../public/fonts/HelveticaRoundedLT-Black.otf");
}
@font-face {
  font-family: Bolditalic;
  src: url("../public/fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: Italic;
  src: url("../public/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: Regular;
  src: url("../public/fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: Light;
  src: url("../public/fonts/MONTSERRAT-LIGHT.OTF");
}

@mixin laptop {
  @media (max-width: 87rem) {
    @content;
  }
}
@mixin laptop-s {
  @media (max-width: 75rem) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: 64rem) and (orientation: portrait) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 59rem) {
    @content;
  }
}
@mixin tablet-s {
  @media (max-width: 48rem) {
    @content;
  }
}
@mixin mobile-l {
  @media (max-width: 38rem) {
    @content;
  }
}

@mixin iphone {
  @media (max-width: 31rem) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 27rem) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: 25rem) {
    @content;
  }
}

@mixin shakeanim($name) {
  @keyframes #{$name} {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@mixin opennowanim($name) {
  @keyframes #{$name} {
    0% {
      transform: scale(0.4) rotate(0deg);
    }

    10% {
      transform: scale(0.4) rotate(-20deg);
    }

    20% {
      transform: scale(0.8) rotate(0deg);
    }

    30% {
      transform: scale(1) rotate(-20deg);
    }

    40% {
      transform: scale(1) rotate(0deg);
    }

    50% {
      transform: scale(1) rotate(-20deg);
    }

    60% {
      transform: scale(1) rotate(0deg);
    }

    70% {
      transform: scale(1) rotate(-20deg);
    }

    80% {
      transform: scale(0.8) rotate(0deg);
    }

    90% {
      transform: scale(0.4) rotate(-20deg);
    }

    100% {
      transform: scale(0.4) rotate(0deg);
    }
  }
}

@mixin emojianim($name, $Y1, $Y2, $Y3, $R1, $R2, $R3) {
  @keyframes #{$name} {
    0% {
      transform: translateY($Y1) rotate(#{$R1}deg);
    }

    50% {
      transform: translateY($Y2) rotate(#{$R2}deg);
    }

    100% {
      transform: translateY($Y3) rotate(#{$R3}deg);
    }
  }
}
@mixin emojianim2($name, $Y1, $Y2, $Y3, $R1, $R2, $R3) {
  @keyframes #{$name} {
    0% {
      transform: translateX($Y1) rotate(#{$R1}deg);
    }

    50% {
      transform: translateX($Y2) rotate(#{$R2}deg);
    }

    100% {
      transform: translateX($Y3) rotate(#{$R3}deg);
    }
  }
}
