@import "./global.scss";

.section-hero {
  position: relative;
  background-color: #ec2838;
  height: 90vh;
  overflow: hidden;
  .hero-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    .hero {
      opacity: 1;
      position: relative;
      max-width: 130rem;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 20vw;
      margin: 0 auto;
      padding: 4rem;
      max-height: 90vh;
      justify-content: center;
      align-items: center;
      gap: 4.8rem;
      z-index: 1;
      @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 40vh;
        padding: 10rem 10rem 0 10rem;
        gap: 1rem;
      }
      @include tablet-portrait {
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 40vh;
        padding: 10rem 10rem 0 10rem;
        gap: 1rem;
      }
      @include iphone {
        padding: 4rem;
      }
      .hero-textbox {
        position: relative;
        color: white;
        .heading-primary {
          font-family: Roundedltblack !important;
          font-size: 4rem;
          font-weight: 900;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 0;
        }
        .title-img {
          .img {
            width: 100%;
          }
        }
        .heading-secondary {
          margin-top: 0;
          font-size: 3rem;
          font-family: Roundedltblack;
          text-align: center;
          margin-bottom: 1rem;
        }

        .location {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          font-size: 1.5rem;
          .map-icon {
            width: 5%;
            img {
              width: 100%;
              height: auto;
            }
            .address {
              font-family: Italic;
            }
          }
          .address {
            font-family: Italic;
          }
          .map-link {
            display: block;
            font-family: Italic;
            color: white;
            @include tablet-s {
              display: none;
            }
          }
        }
        .map-link-mobile {
          display: none;
          justify-content: center;
          font-family: Italic;
          color: white;
          font-size: 1.5rem;
          @include tablet-s {
            display: flex;
          }
        }
        .co-located {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          @include tablet {
            justify-content: center;
          }
          @include tablet-portrait {
            justify-content: center;
          }

          .co-located-text {
            font-family: Regular;
            text-transform: uppercase;
          }
          .rr-logo {
            width: 15%;
            img {
              width: 100%;
            }
          }
          .ccc-logo {
            width: 30%;
            img {
              width: 100%;
            }
          }
        }
      }
      .hero-vidbox {
        position: relative;
        height: 100%;
        @include tablet {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include tablet-portrait {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .video-container {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: start;
          width: 100%;
          height: 100%;
          .video {
            width: 100%;
            height: 100%;
            border-radius: 3rem;
            box-shadow: 0 0 10px grey;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            @include tablet {
              width: 50%;
              height: auto;
            }
            @include tablet-portrait {
              width: 50%;
              height: auto;
            }
            @include mobile {
              width: 70%;
              height: auto;
            }
            @include iphone {
              width: 60%;
              height: auto;
            }
          }
          .opennow-logo {
            position: absolute;
            width: 40%;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 20%);
            img {
              width: 100%;
            }
            @include tablet {
              display: flex;
              justify-content: center;
              align-items: center;
              left: auto;
              top: 0;
              bottom: auto;
              width: 20%;
              transform: translate(-100%, -20%);
            }
            @include tablet-portrait {
              display: flex;
              justify-content: center;
              align-items: center;
              left: auto;
              top: 0;
              bottom: auto;
              width: 20%;
              transform: translate(-100%, -20%);
            }
            @include mobile {
              width: 30%;
            }
          }
        }
      }
    }
  }

  .bg-1 {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    transform: translate(-50%, 5%);
    z-index: 0;
    img {
      width: 100%;
    }
  }
  .bg-2 {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    transform: translate(30%, -20%);
    z-index: 0;
    img {
      width: 100%;
    }
  }
  .emoji-1 {
    opacity: 1;
    top: 0;
    position: absolute;
    width: 20%;
    padding: 4.8rem;
    @include tablet {
      width: 25%;
    }
    @include mobile {
      width: 30%;
    }
    img {
      width: 100%;
    }
  }
  .emoji-2 {
    opacity: 1;
    display: none;
    justify-content: center;
    align-items: end;
    width: 90%;
    height: 100%;
    bottom: 0;
    position: absolute;
    img {
      width: 10%;
      height: auto;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  position: sticky;
  top: 0;
  min-height: 10vh;
  background-color: #4465b0;
  z-index: 10;
  .logo {
    display: block;
    width: 20%;
    img {
      width: 100%;
      height: auto;
    }
    @include tablet-s {
      width: 30%;
    }
  }
  .main-nav {
    .main-nav-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 4.8rem;
      text-transform: uppercase;
      @include tablet-s {
        display: none;
      }
      .main-nav-link {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-family: Regular;
        font-weight: 500;
        font-size: 1.5rem;
        &:hover,
        :visited {
          color: #fbc613;
        }
        @include tablet {
          font-size: 2rem;
        }
      }
      .main-nav-logo {
        display: inline-block;
        width: 4rem;
        img {
          width: 100%;
        }
      }
    }
    .main-nav-list-mob {
      list-style: none;
      display: none;
      align-items: center;
      gap: 4.8rem;
      text-transform: uppercase;
      .main-nav-logo {
        display: inline-block;
        width: 4rem;
        img {
          width: 100%;
        }
      }
      .bar {
        display: none;
        flex-direction: column;
        width: 3rem;
        gap: 0.5rem;
        cursor: pointer;
        button {
          border: 1px solid #fff;
        }
        @include tablet-s {
          display: flex;
        }
      }
      .close {
        width: 4rem;
        img {
          width: 100%;
        }
      }
      @include tablet-s {
        display: flex;
      }
    }
  }
}
.section-pricing {
  position: relative;
  background-color: #ec2838;
  .pricing {
    position: relative;
    margin: 0 auto;
    max-width: 130rem;
    padding: 4rem;
    z-index: 3;
    @include tablet {
      padding: 10rem 10rem 0 10rem;
    }
    @include iphone {
      padding: 0 6rem 0 6rem;
    }
    .heading-primary {
      margin: 0 auto;
      font-family: Roundedltblack;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 4.8rem 0;
      font-size: 4.8rem;
    }
    .pricing-text {
      margin: 0;
      font-family: Regular;
      color: #e6e6e6;
      font-size: 3rem;
      text-align: center;
    }
    .pricing-img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 8rem;
      @include tablet {
        grid-template-columns: 1fr;
      }
      .pricing-img1 {
        img {
          width: 100%;
        }
      }
      .pricing-img2 {
        img {
          width: 100%;
        }
      }
    }
  }
  .bg1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    z-index: 1;
    transform: translate(-70%, 20%) rotateZ(20deg);
    img {
      width: 100%;
    }
  }
  .emoji-1 {
    position: absolute;
    width: 15%;
    bottom: 10%;
    left: 0;
    z-index: 2;
    @include laptop {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      transform: scaleX(1) translate(20%, 10%);
    }
    transform: scaleX(-1) translateX(20%);
    img {
      width: 100%;
    }
  }
}
.section-aboutus {
  position: relative;
  background-color: #ec2838;
  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 130rem;
    padding: 4rem;
    gap: 4.8rem;
    @include laptop {
      padding: 6rem;
    }
    @include tablet {
      grid-template-columns: 1fr;
      padding: 10rem;
    }
    @include iphone {
      padding: 2rem 6rem 0 6rem;
    }
    .about-us-section {
      .heading-primary {
        font-family: Roundedltblack;
        font-size: 4.8rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
      }
      .about-us-text {
        font-family: Regular;
        color: #e6e6e6;
        font-size: 3rem;
        text-align: center;
      }
    }
    .slider-show {
      position: relative;
      .slideshow-container {
        position: relative;
        z-index: 3;
        object-fit: cover;
        .slide {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: opacity 1s ease;
        }
      }
      .dots {
        display: flex;
        position: absolute;
        bottom: 1rem;
        z-index: 4;
        justify-content: center;
        align-items: center;
        width: 100%;
        .dots-container {
          display: flex;
          gap: 1rem;
          .dot {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
          .dot.active {
            background-color: #fff;
          }
        }
      }

      .bg-1 {
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: 30%;
        transform: translate(-60%, 50%);
        @include tablet {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      .bg-2 {
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        transform: translate(50%, 50%);

        img {
          width: 100%;
        }
      }
    }
  }
  .bg-2 {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    transform: translate(60%, 10%) scale(-1) rotateZ(20deg);
    img {
      width: 100%;
    }
  }
}
.section-contact {
  position: relative;
  background-color: #ec2838;
  .contact {
    position: relative;
    max-width: 130rem;
    margin: 0 auto;
    padding: 4rem;
    z-index: 5;
    @include tablet {
      padding-left: 10rem;
      padding-right: 10rem;
    }
    @include iphone {
      padding: 0 6rem 0 6rem;
    }
    .heading-primary {
      margin: 0 auto;
      font-family: Roundedltblack;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 4.8rem 0;
      font-size: 4.8rem;
    }
    .contact-text {
      margin: 0;
      font-family: regular;
      color: #e6e6e6;
      font-size: 3rem;
      text-align: center;
    }
    .form-fill {
      margin-top: 4.8rem;
      form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .form-group {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          @include mobile {
            grid-template-columns: 1fr;
          }
          .form-name {
            #name {
              width: 100%;
              border-radius: 1rem;
              font-family: Regular;
              padding: 2.5rem;
              font-size: 2rem;
            }
          }
          .form-mobile {
            #mobile {
              width: 100%;
              border-radius: 1rem;
              font-family: Regular;
              padding: 2.5rem;
              font-size: 2rem;
            }
          }
        }
        .form-email {
          #email {
            width: 100%;
            border-radius: 1rem;
            font-family: Regular;
            padding: 2.5rem;
            font-size: 2rem;
          }
        }
        .text-area {
          #message {
            width: 100%;
            height: 20rem;
            border-radius: 1rem;
            font-family: Regular;
            padding: 2.5rem;
            font-size: 2rem;
            resize: none;
          }
        }
        .btn {
          align-self: center;
          justify-self: center;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
          .send {
            width: 25rem;
            padding: 2rem;
            border-radius: 1rem;
            font-family: Roundedltblack;
            font-size: 2rem;
            border: 1px solid black;
            border-bottom: 4px solid black;
            text-transform: uppercase;
            color: white;
            background-color: #27c2e8;
            cursor: pointer;
          }
        }
      }
    }
    .footer {
      font-size: 1.2rem;
      font-family: Italic;
      color: #e6e6e6;
      text-align: center;
      margin-top: 10rem;
      .mailto {
        margin-bottom: 2px;
        span {
          a {
            color: #e6e6e6;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
      .company {
        margin-top: 0;
      }
    }
  }
  .bg-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    transform: translate(-20%, -20%) scaleX(-1) rotateZ(-10deg);
    z-index: 4;
    img {
      width: 100%;
    }
  }
  .bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    transform: translate(-50%, -10%) scale(-1) rotateZ(30deg);
    img {
      width: 100%;
    }
  }
}
.section-navmob {
  position: fixed;
  background-color: rgba(68, 101, 176, 0.9);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  visibility: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  .navmob {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.8rem;
      margin: 0;
      padding: 0;
      .nav-link {
        font-size: 4rem;
        text-transform: uppercase;
        font-family: Regular;
        color: #e6e6e6;
        text-decoration: none;
      }
    }
  }
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    transform: translate(-50%, 50%);
    img {
      width: 100%;
    }
  }
}
.nav-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

input,
textarea {
  border: 1px solid #ddd;
}

input:focus,
textarea:focus {
  outline: none;
}
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
